#game-view {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
}

#game-view-info {
    padding: 15px;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #818386;
}

#game-view-squares {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-sizing: border-box;
}

#game-bottom-hotbar {
    text-align: center;
    margin-bottom: 15px;
}

.restart-button {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.game-view-square {
    width: 33.33%;
    height: 33.33%;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-family: 'Source Code Pro', monospace;
    font-size: 75px;
    text-transform: uppercase;

    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.game-view-square.highlighted {color: green}

.game-view-square:hover {background-color: #eee;}

.game-view-square:nth-child(-n + 6) { border-bottom: 15px solid #f43635 }

.game-view-square:nth-child(3n + 1),
.game-view-square:nth-child(3n+2) { border-right: 15px solid #f43635 }